<!DOCTYPE html>
<html>
  <head>
    <title><%= camelized %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>

    <%% if turbo_native_app? %>
      <style>.hide-on-mobile { display: none !important; }</style>
    <%% end %>

    <%%= stylesheet_link_tag "application" %>
    <%%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%%= yield %>
  </body>
</html>
